form {
  width: 90%;
  max-width: 300px;
  background-color: #fff;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #1E1E1F;
  margin-bottom: 26px;
}

textarea {
  width: calc(100% - 25px);
  height: 96px;
  padding: 12px;
  border: 2px solid #202329;
  border-radius: 4px;
  background-color: #F9FBFC;
  color: #1E1E1F;
  font-size: 20px;
  text-align: start;
}

textarea::placeholder {
  color: #A5A5A5;
  font-family: 'Arial';
  font-weight: 300;
}

textarea:focus {
  outline:1px solid #183153;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  display: inline-block;
  width: 120px;
  height: 48px;
  border: 1px solid #183153;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: #202329;
  box-shadow: 0 3px 0 0px #183153;
}

.TodoForm-button--add {
  background: #63e6be;
}

.TodoForm-button--cancel {
  background: #ffe01b;
}
.TodoForm-button--add:hover {
  background-color: #0ca678;
}
.TodoForm-button--cancel:hover {
  background-color: #fab005;
}
