.CreateTodoButton {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c7ed6;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    color: #FAFAFA;

    transform: rotate(0);
    transition: 0.3s ease;
    z-index: 10;
}

.CreateTodoButton:hover {
    transform: rotate(180deg);
    background-color: #1971c2;
}

@media (min-width: 800px) {
    .CreateTodoButton {
        display: none;
    }
}