html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #FFFFFF;
  color: #183153;
  font-family: 'Ubuntu', sans-serif;
}

#root {
  position: relative;
  min-height: 100vh;
  display: flex;
}
