.Icon-container {
  cursor: pointer;
  height: 48px;
  width: 48px;
}
.Icon-container--check {
  display: block;
}
.Icon-container--delete {
  display: block;
}

.Icon-svg {
  width: 24px;
  height: 24px;
  transition: fill .15s;
  transform: translate(50%, 50%);
}
.Icon-container:hover .Icon-svg--check {
  fill: #4caf50;
}
.Icon-container:hover .Icon-svg--delete {
  fill: red;
}
